- if @restaurants.any?
  - @restaurants.each do | restaurant |
    %h2= link_to restaurant.name, restaurant_path(restaurant)

    - if !current_user.nil? && current_user.id == restaurant.user_id
      = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
      = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
    - unless current_user && current_user.has_reviewed?(restaurant)
      = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)

    - if restaurant.reviews.any?
      %ul
        - restaurant.reviews.each do |review|
          - if current_user && current_user.has_reviewed?(restaurant)
            = link_to "Delete Review", review_path(review), method: :delete
            %p= pluralize review.endorsements.count, 'endorsement'
          %li
            = review.thoughts
            %strong= review.rating

            \/5
        %strong Average rating: #{restaurant.average_rating.to_i}
    - else
      %p No reviews

- else
  %h1 No restaurants yet!

%a(href='/restaurants/new') Add a restaurant
